.banner{
  padding-bottom: 10px;
  height:50px;
  background-color: black;
  background: url("logo1.png");
  background-size: auto;
  background-repeat: repeat-x;
  background-size: 47.66px 50px;
}

.name{
  font-size: 20px;
  text-align: left;
  border-bottom: 1px dotted white;
  margin-bottom: 1px;
  margin-right:12px;
}

.column{
  float: left;
  width: 20vw;
  padding: 5px;
  margin: 5px;
  border: 1px solid white;
}

body {
  color:white;
  background-color: black;
  padding-left: 5%;
  padding-right: 5%;
  height:1100px;
}

h1{
  font-size:24px;
    border-bottom: 1px dotted white;
  text-align: center;
}
h2{
  font-size:18px;
}

td{

  vertical-align:top;
}
